@model Kapsch.IS.EMD.EMD20Web.Models.PersonProfile.ChangeEquipmentStatusModel
@using Kapsch.IS.EMD.EMD20Web.HelperExtensions
@{
    ViewBag.Title = "Change Equipment Status";

}

@Html.Partial("~/Views/Shared/Javascript/_TooltipMetaData.cshtml")

<div id="formcontent">
    @using (Ajax.BeginForm("DoChangeEquipmentStatus", "PersonProfile", null, new AjaxOptions
    {
        HttpMethod = "Post",
        OnBegin = "formValidation.OnBegin(xhr)",
        OnSuccess = "personprofile.Events.OnSuccessChangedEquipments(xhr)",
        OnFailure = "formValidation.OnFailure(xhr)"
    }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Obre_Guid)
        @Html.HiddenFor(model => model.ValidFrom)
        @Html.HiddenFor(model => model.ValidTo)
        @Html.HiddenFor(model => model.ActiveFrom)
        @Html.HiddenFor(model => model.ActiveTo)


        <div id="formresults" class="infobox error" style="display:none"></div>

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="k-edit-form-container" style="float:left;">


                <div class="form-group">
                    @Html.LabelForRequired(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @(
                            Html.Kendo().DropDownListFor(m => m)
                            .OptionLabel("Please select")
                            .Name("Status")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .HtmlAttributes(new { @style = "width:100%" })
                            .Filter(FilterType.Contains)
                            .IgnoreCase(true)
                            .AutoBind(true)
                            .BindTo(Model.AvailableStatus)

                        )
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group form-group-buttons">
                    <label></label>
                    <div class="col-md-10">
                        <button type="button" value="Cancel" class="k-button kapsch-text-button" onclick="closeWindow();">Cancel</button>
                        <input type="submit" value="Save" class="btn k-button kapsch-text-button" />

                    </div>
                </div>
            </div>
        </div>
    }
</div>

