@model Kapsch.IS.EMD.EMD20Web.Models.ManagePackageEquipmentModel

@{
    ViewBag.Title = "ManageEquipment";
    ViewBag.TooltipUrl = Request.Url.Scheme + "://" + Request.Url.Authority + "/Quickinfo/Package_ManageEquipment.html";
}

@Html.Partial("~/Views/Shared/Javascript/_TooltipMetaData.cshtml")


<div id="formcontent1" style="float:left; width: 100%">
    @using (Ajax.BeginForm("DoManageEquipment", "Package", null, new AjaxOptions
    {
        HttpMethod = "Post",
        OnBegin = "formValidation.OnBegin(xhr)",
        OnSuccess = "formValidation.OnSuccess(xhr)",
        OnFailure = "formValidation.OnFailure(xhr)"
    }))
    {
        @Html.AntiForgeryToken()

        <div id="formresults" class="infobox error" style="display:none"></div>

        <div class="form-horizontal1">

            <h4>Package: @Model.PackageName</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="k-edit-form-container1">

                <div class="form-group1" style="width: 40%; float: left">
                    @(
                Html.Kendo().Grid(Model.AvailableEquipments)
                    .Name("AvailableEquipments")
                    .DataSource(dataSource => dataSource
                        .Ajax()

                        .ServerOperation(false)
                        .Sort(a => a.Add("Text"))
                        .Events(events => events.Error("exceptionManager.Events.HandleError"))
                     )
                     .HtmlAttributes(new { @class = "k-grid-list k-grid-selectable", style = "height: 500px" })

                     .Columns(columns =>
                     {

                         columns.Bound(item => item.Text).Title("Available Package").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains).ShowOperators(false).Template("kendoHelper.DisableAutocompleteFilter"))).Sortable(true);

                     })
                    .Filterable(filterable => filterable.Mode(GridFilterMode.Row).Enabled(true))
                     .Sortable(sortable => sortable.Enabled(true))
                    .Pageable(p => p.Enabled(false))
                    .Scrollable(s => s.Enabled(true))
                         .Selectable(selectable => selectable
                            .Mode(GridSelectionMode.Multiple)
                        )

                    )


                </div>


                <div style="float:left;  margin-left: 30px; margin-top: 30px">
                    <button name="buttonToLeft" id="buttonToLeft" class="btn k-button kapsch-text-button" type="button" onclick="equipmentMapping.Events.OnClickRemoveEquipment()" style="margin: 0; height: 34px; padding: 7px"><i class="material-icons">arrow_back</i></button>
                    <button name="buttonToRight" id="buttonToRight" class="btn k-button kapsch-text-button" type="button" onclick="equipmentMapping.Events.OnClickAddEquipment()" style="margin: 0; height: 34px; padding: 7px"><i class="material-icons">arrow_forward</i></button>
                </div>

                <div class="form-group1" style="float:left;  width: 40%; margin-left: 30px">
                    @(Html.Kendo().Grid(Model.ConfiguredEquipments)
                        .Name("ConfiguredEquipments")
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Sort(a => a.Add("Text"))
                            .Events(events => events.Error("exceptionManager.Events.HandleError"))
                         )
                         .HtmlAttributes(new { @class = "k-grid-list k-grid-selectable", style = "height: 500px" })
                         .Columns(columns =>
                         {

                             columns.Bound(item => item.Text).Title("Configured Equipment").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains).ShowOperators(false).Template("kendoHelper.DisableAutocompleteFilter"))).Sortable(true);

                         })
                        .Filterable(filterable => filterable.Mode(GridFilterMode.Row).Enabled(true))
                        .Sortable(sortable => sortable.Enabled(true))
                        .Pageable(p => p.Enabled(false))
                        .Scrollable(s => s.Enabled(true))
                            .Selectable(selectable => selectable
                            .Mode(GridSelectionMode.Multiple)
                        )

                    )
                </div>
                <div style="clear: both; width: 100%; height: 20px"></div>
                <div class="k-edit-form-container" style="float:left;">
                    <div class="form-group form-group-buttons">
                        <label></label>
                        <div class="col-md-10">
                            <button type="button" value="Cancel" class="k-button" onclick="closeWindow();">Cancel</button>
                            <input id="save" name="save" type="button" onclick="equipmentMapping.Communication.SaveConfiguredMappings()" class="k-button" value="Save" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>




<script type="text/javascript">

    equipmentMapping.Entities.PackageGuid = '@Model.PackageGuid';


    $(document).ready(function () {

        @Html.Partial("ErrorHandling/ModalErrorWindowCheckForError")


        $("#AvailableEquipments").dblclick(function () {
            equipmentMapping.Functions.MoveSelectedItems("#AvailableEquipments", "#ConfiguredEquipments");
        });

        $("#ConfiguredEquipments").dblclick(function () {
            equipmentMapping.Functions.MoveSelectedItems("#ConfiguredEquipments", "#AvailableEquipments");
        });

    });


</script>
